@model Foodcore.Models.Product

             <label class="add_label">productid</label><br />
             <input type="text" asp-for="Productid" placeholder="Enter productid"  class="add_input" /><br />
              <span asp-validation-for=Productid></span><br />
              <div><br />
            <input class="add_button" type="submit" value="delete"/><br />
            </div>
            @ViewBag["a"]
